body {
    background: black;
}

main {
    position: absolute;
    top: 0;
}

#welcome-text-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: absolute;
}

#welcome-text {
    font-size: 5rem;
    color: #ffffff; 
    font-family: 'Bungee Shade', cursive; 
}

#home-buttons-box {
    /* width: 33%; */
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-button, .home-button a, .home-button a:visited {
    color: #ffffff;
    text-decoration: none;
}

.home-button {
    cursor: pointer;
    width: 150px;
    height: 33px;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    margin: 10px 0;
}

.stop {
    background: red;
}

.start {
    background: green;
}

#site-header {
    position: sticky;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

#links-box {
    min-width: 25%;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.site-link, .site-link:visited {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

#site-logo {
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 2rem;
}

#site-logo {
    padding-right: 15px;
}

#logo-svg {
    height: 65%;
}

#site-footer {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 100;
    position:absolute;
    bottom: 1%;
}

#logo-box {
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.footer-logo {
    height: 1.6rem;
    width: 1.6rem;
}
